* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

div {
  width: 30%;
  border: 2px solid black;
  float: left;
  background-color: gray;
  margin; 10px 9px 8px 7px;
}

h2 {
  text-align: right;
  width: 10%;
}

#h21 {
  background-color: pink;
  margin: 0;
}

#h22 {
  background-color: #cd3d3d;
  color: white;
  margin: 0;
}

#h23 {
  background-color: yellow;
  margin: 0;
}
