* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

div {
  width: 30%;
  border: 2px solid black;
  float: left;
  background-color: gray;
  margin: 16px 16px 16px 16px;
}

h2 {
  text-align: center;
}

#first {
  background-color: pink;
  background-position: right;
  margin: 0;
  width: 40%;
}

#second {
  background-color: #cd3d3d;
  background-position: right;
  color: white;
  margin: 0;
  width: 20%;
}

#third {
  background-color: yellow;
  background-position: right;
  margin: 0;
  width: 30%;
}
